.singleProduct {
  box-shadow: 5px 5px 1px #373737, 5px 5px 1px #ffffff;
}

.btn-product {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 0.9em 1.7em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
  margin-top: 15px;
  margin-left: 1%;
}

.btn-product:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

.btn-product:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

.heart {
  font-size: 55px !important;
}

.heart:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.heart-liked {
  font-size: 55px !important;
  fill: red;
  transition: fill 0.2s ease;
}

.like-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.like-button:hover {
  transform: scale(1.1);
}
